[Unit]
Description=Busk Seguros API
After=mysql.service network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/lambda_buskseguros/busk
ExecStart=/bin/bash -c "source .env && exec /home/lambda_buskseguros/busk/services/api/busk-api"
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
User=lambda_buskseguros

[Install]
WantedBy=multi-user.target
