# Caddy reverse proxy para Busk Seguros API (con PM2)
# Escucha en puerto 80, redirija a PM2 en puerto 8080

:80 {
	reverse_proxy localhost:8080 {
		header_up X-Forwarded-For {http.request.remote.host}
		header_up X-Forwarded-Proto {http.request.proto}
		header_up X-Forwarded-Host {http.request.host}
	}
	log {
		output stdout
		format json
	}
}
